body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#game-container {
    position: relative;
    width: 800px;
    height: 200px;
    background-image: url('images/background.png'); /* Image de fond */
    overflow: hidden;
}

#basecaracter {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 50px;
    height: 50px;
    background-image: url('images/basecharacter1.png'); /* Image du perso */
    background-size: cover;
}

.obstacle {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-size: cover;
}
